html {
	background-color: black;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 95%;
	background-color: white;
}
}
h1, h2, p {
	margin: 0;
	padding: 0;
	background-color: white;
 }
 ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
 }
 a {
 	text-decoration: none;
 	margin: 0;
	padding: 0;
 }
/*Orange Site Deals PART 1*/
.siteDeals {
	background-color: rgb(250,105,56);
	width: 100%;
	margin: 0 auto;
}
/*button */
#freeShipping {
	display: inline-block;
	background-color: rgb(199,83,44);
	font-size: .8em;
	padding: .4em 1em;
	margin: .5em 1em .5em 6em;
	color: white;
	border-radius: .4em;
}
/*wrapped the deals up in a div*/
#listWrapper {
	display: inline-block;
}
/*list for spring savings*/
.listDeals li{
	list-style: none;
	display: inline-block;
	color: white;
	vertical-align: middle;
	text-shadow: 0 0 1px black;
	margin: 0 1.2em 0 0;
}
/*Header Skinny Ties Header and Search PART 2*/
.siteNav {
	width: 99.3%;
	margin: 0 auto;
	margin: 0 0 0 0;
	/*background-color: purple;*/
	border-image-source: url("img/perforated-bottom@2x.png");
  	padding-bottom: 12px;
  	border-image-slice: 10 27 10 16;
  	border-image-width: 0px 0px 6px 0px;
  	border-image-outset: 0px 0px 0px 0px;
  	border-image-repeat: repeat stretch;
}	
/*Skinny Logo Div*/
#SkinnyLogoWrapper {
	width: 10%;
	display: inline-block;
	margin: .5em .9em .5em 3.5em;
}
/*Skinny Logo Img*/
#SkinnyLogoWrapper img {
	width: 100%;
	vertical-align: middle;
}
/*Collection Link Wrapper*/
#CollectionLinkWrapper {
	width: 54%;
	display: inline-block;
	/*background-color: pink;*/
	margin: 2em 1em 0 1em;
	vertical-align: middle;

}
#CollectionLinkWrapper li {
	list-style: none;
	display: inline-block;
	font-size: 1.6em;
	padding: 0 .8em 1.5em 0;
	margin: 0 0 0 0;
	color: rgb(91,91,91);
	background-color: white;
	/*background-color: yellow;	*/
}

/*Cart and Search Wrapper*/
#cartSearchWrapper {
	/*background-color: green;*/
	width: 23%;
	display: inline-block;
	vertical-align: middle;

}
#signInDiv {
	display: inline-block;
	/*background-color: red;*/
	width: 70%;
	margin: 0 0 1em 7em;
	background-color: white;
}
#signInDiv h2{
	display: inline-block;
	width: 40%;
	font-size: .8em;
	margin: 0 0 0 .3em;
	background-color: white;
	color: rgb(144,144,144);
	text-align: right; 
}

#cartWrapper {
	border: 0px solid rgb(96,96,96);
	border-radius: 2px;
	/*background-color: pink;*/
	width: 30%;
	display: inline-block;
	padding: .5em 0 .5em 0;
	margin: 0 .5em 1em 1em;
	box-shadow: 0 0 .3em rgb(84,84,84);
}
#cart {
	background: url('img/sprite@2x.png') no-repeat 11.658% 8.511%;
	background-size: 400px 200px;
	width: 14.3px;
	height: 13px;
	/*background-color: blue; */
	display: inline-block;
	transform: scale(1.3,1.3);
	margin: 0 .5em 0 .5em;
	vertical-align: middle;
}
#cartDiv {
	display: inline-block;
	/*background-color: yellow;*/
	padding: 0 0 0 0;
	margin: 0;
}
#cartDiv p {
	color: rgb(96,96,96);
	display: inline-block; 
	/*background-color: green;*/
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#searchBoxWrapper {
	width: 55%;
	/*background-color: orange;*/
	display: inline-block;
	border: 0px solid rgb(84,84,84);
	border-radius: 2px;
	padding: .3em .2em .3em .2em;
	box-shadow: 0 0 .3em rgb(84,84,84);
}
#magnify {
	background: url('img/sprite@2x.png') no-repeat 3.876% 8.021%;
	background-size: 400px 200px;
	width: 13px;
	height: 13px;
	display: inline-block;
	/*background-color: grey;*/
	transform: scale(1.3,1.3);
	vertical-align: middle;
	margin: 0 .5em 0 .5em;
}
#searchBox {
	/*background-color: pink;*/
	display: inline-block; 
	max-width: 70%;
	padding: .2em 0 .2em 0;
	border: none;
	}
 /*Wrapper for Main Part 1 / 2*/
}
#mainWrapper {
	/*background-color: grey;*/
}
/*Main Content 1 pictures of ties and large heading*/

#main1Wrapper {
    /*background-color: pink;*/
    margin: 0 0 3em 0;
    background-color: rgb(244,244,244);
}
#tieImgWrapper {
	width: 88%;
	margin: 0 auto;
}
/*Tie Image and Text*/
.ties {
	display: inline-block;
	width: 8%;
	margin: 0 1.5em 0 0;
}
.ties img {
	width: 100%;
	margin: 0 .8em 0 0;
}
.ties p {
	text-align: center;
	vertical-align: middle;
	background-color: rgb(244,244,244);
}
/*Start Dressing Better Header*/
#dressBetterWrapper {
	margin: 0 auto;
	width: 50%;

}
#dressTextWrapper {
	padding: 0 0 .6em 0;	
}
#dressTextWrapper h1 {
	vertical-align: middle;
	text-align: center;
	font-size: 4em;
	margin: .5em 0 1em 0;
	font-weight: 100;
}
/*Main Part 2 Wrapper*/
#main2Wrapper {
    /*background-color: purple;*/
    margin: 4em 0 0 0;
}
/*Main Image Wrapper*/
#main2ImgWrapper {
	width: 90%;
	/*background-color: green;*/
	margin: 0 auto;
	position: relative;
	padding: 0 0 2em 0;
}
#main2TextBow {
	position: absolute;
	top: 0;
	left: 12em;
	font-weight: bold;
	font-size: 1.1em;
}
#main2PocketSquares1 {
	position: absolute;
	top: 0;
	left: 35em;
	font-weight: bold;
	font-size: 1.1em;
}
#main2PocketSquares2 {
	position: absolute;
	top: 2em;
	left: 34em;
	font-weight: bold;
	font-size: 1.1em;
}
#main2TieBars {
	position: absolute;
	top: 0;
	left: 53em;
	font-weight: bold;
	font-size: 1.1em;
}
.minnor2ImgWrapper {
	width: 30%;
	display: inline-block;
	margin: 0 1em 0 1em;
	/*background-color: pink;*/
}
.minnor2ImgWrapper img {
	width: 100%;
	/*background-color: blue;*/
}
/*Main Text Wrapper */
#main2TextWrapper {
	width: 99.5%;
	margin: 0 auto;
	padding-bottom: 80px;
    border-image-source: url("img/perforated-bottom@2x.png");
    /*border-image-source: url("img/hatch-light@2x.png");*/
    border-image-slice: 10 27 10 16;
    border-image-width: 0px 0px 6px 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat stretch;
    /*background-color: yellow;*/
}
.main2Text1971 {
	vertical-align: middle;
	text-align: center;
}
.main2Text1971 h1 {
	font-weight: 100;
	font-size: 2.1em;
}
#ourStory {
	vertical-align: middle;
	text-align: center;	
}
.blue {
	color: rgb(51,161,255);
}
/*end of Main Part 2*/

/*Contact Wrapper*/
#contact1 {
	/*background-color: red;*/
	margin: 0 auto;
	padding-bottom: 35px;
    border-image-source: url("img/perforated-bottom@2x.png");
    border-image-slice: 10 27 10 16;
    border-image-width: 0px 0px 6px 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat stretch;
    padding-top: 2em;
}
#contactWrapper {
	/*background-color: grey;*/
	width: 95%;
	margin: 0 auto;
}
.contactBox {
	width: 19%;
	/*background-color: pink;*/
	display: inline-block;
	vertical-align: top;
	margin: 0 3em 1em 0
}
.contactBox h2 {
	font-size: 1.2em;
	margin: 0 0 .5em 0;
}
.contactBox p {
	font-size: .9em;
	margin: .5em 0 0 0;
	color: black;
}
.contactBox a {
color: rgb(51,161,255);
}
.contactBox img {
	width: 100%;
}
#facebook {
	background: url('img/sprite@2x.png') no-repeat 73.973% 0;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#pIcon {
	background: url('img/sprite@2x.png') no-repeat 73.973% 24.242%;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#twitter {
	background: url('img/sprite@2x.png') no-repeat 73.973% 48.485%;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#contactEmail {
	padding: .5em .3em .5em .3em;
	border: 0 solid black;
	box-shadow: 0 0 .4em grey;
}
#subscribeMe {	
	font-size: .8em;
	padding: .4em .3em .4em .3em;
	border: 0 solid black;
	box-shadow: 0 0 .1em black;
	border-radius: .2em;
	vertical-align: middle;
	margin: 0 0 0 0;
	color: white;
	text-shadow: 0 0 .1em black;
	background-color: rgb(51,161,255);
}
/*footer*/
#mainFooter {
	/*background-color: yellow;*/
    background-color: rgb(244,244,244);

}
#minorFooter1 {
	width: 45%;
	margin: 0 0 0 4em;
	margin-top: 1em;
	/*background-color: pink;*/
	display: inline-block;
	vertical-align: middle;

}
.footerLinks {
	display: inline-block;
	/*background-color: green;*/
	vertical-align: top;
	margin: 0 0 0 2em;
}
.footerLinks li {
	line-height: 1.4em;
	font-size: 1em;
	color: rgb(146,146,146);

}
.footerBold  {
	font-weight: bold;
	color: black;
}
#minorFooter2 {
	width: 27%;
	margin: 0 auto;
	background-color: rgb(162,175,192);
	display: inline-block;
	vertical-align: middle;
	margin: 2em 0 0 12em;
	border-radius: .2em;
	padding: .4em 0 .4em 0;
}
#footerContact {
	display: inline-block;
	width: 80%;
	background-color: rgb(162,175,192);
	margin: 0 0 0 0;
}
#footerContact h2 {
	color: white;
	margin: 0 0 0 .6em;
	line-height: 2em;
	background-color: rgb(162,175,192);
	font-weight: 100;
}
#emailButtonWrapper {
	display: inline-block;
	background-color: rgb(162,175,192);
	width: 100%;
}
#emailPhone {
	width: 55%;
	background-color: rgb(162,175,192);
	display: inline-block;
}
#emailPhone a {
	color: white;
	font-size: 1em;
	margin: 1em 0 0 .9em;
	line-height: 2em;
	background-color: rgb(162,175,192);
}
#emailPhone p {
	color: white;
	margin: 0 0 0 1em;
	line-height: 2em;
}
#footerButton {
	padding: .7em 1em .7em 1em;
	border: 0 solid black;
	box-shadow: 0 0 .5em black;
	border-radius: .3em;
	vertical-align: middle;
	margin: 0 0 1em 1em;
	color: white;
	text-shadow: 0 0 .3em black;
	background-color: rgb(51,161,255);
}
#tradeMark {
	position: relative;
}
#tradeMark p, a {
	color: rgb(146,146,146);
	margin: 2.5em 0 0 7.5em;
	font-size: .7em;
    background-color: rgb(244,244,244);
    padding: 0 0 3.5em 0;
}
#tradeMark:after {
    content:"\00a9";
    position: absolute;
    top: 0;
    left: 6.5em;
    color: rgb(146,146,146);
    font-size: .7em;
}
